<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Material">
    <id column="material_id" jdbcType="VARCHAR" property="materialId" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remaining" jdbcType="INTEGER" property="remaining" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="work_id" jdbcType="VARCHAR" property="workId" />
  </resultMap>

  <select id="getAllCount" resultType="_int">
    select count(*) from material
  </select>
  <select id="getMaterial" resultMap="BaseResultMap">
    select
      m1.material_id,
      m1.material_type,
      m1.note,
      m1.remaining,
      m1.`status`
    from
        material m1, material_consume m2
    where
        m1.material_id = m2.material_id
  </select>
</mapper>